#ev.events a{
	color: black;
}

#maintext{
	font-size: large;
	line-height: 30px;
}

h2{
	text-align:center;
}

#photo img{
	padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#photo ul{
	padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#photo li{
    left: 10%;
   position:relative;
}
