/*Ordered According to HTML file*/
body{

}
#photo img{
	height:400px;
	width:550px;

}
h2{
	text-align: center;
}
/*
#content{
	text-align: center;
	margin: 0 auto;
}*/
#maintext p{
	padding-top: 15px;
}
