#maintext{
	font-weight: bold;

}

h2{
	text-align:center;
}
#photo img{
	height:400px;
	width:550px;
    display: block;
    margin-left: auto;
    margin-right: auto

}

#lg.largegroup a{
	color: black;
}
#maintext p{
	padding-top: 15px;
}
