<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <script src="../public/js/sticky-nav-fluid.js"></script>
</head>
<body>
    <nav>
    <ul id="topNav" class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>

    </ul>
    </nav>
<ul>
    <% for(var i=0; i<data.length; i++) {
        var post = data[i];
    %>
    <li>
        <h2><%= post.heading  %> </h2>
        <div><%- JSON.stringify(post) -%></div>
        <% if(post.type == "picture"){
        %>
            <img src="<%=post.imgUrl%>" />
        <%}%>
    </li>
    <% } %>
</ul>
</body>
</html>
